

/*body { font-family:'Roboto';*/
body {
    background-color: #F5F5F5;
    color:#212121;          
}
/*стилізація логотипу*/
.logo-blue {
    color: #2196F3;
}
.logo-black{
    color: #000000;
}
/*стилізація навігації*/
ul 
{list-style: none;
}
a 
{ text-decoration: none;
}
.social-links .link {
    color:#212121;
}
.social-links .link:hover,
.social-links .link:focus{
    color: #2196F3;
}

.social-links .link:visited {
    color: #2196F3;
}
a[href="./portfolio.html"]
{
    color: #212121;
}
a[href="#"]
{
color: #212121;
}
.social-links a {
color: #212121;
}
/*електронна адреса і телефон*/

.link {
color: #2196F3;
}
a[href="tel:+380961111111"]
{
    color: #212121;
}





/*Основний колір тексту #757575*/
/*Акцент #2196F3*/
/*Білий #FFFFFF*/ 
/*Для прихованих заголовкыв.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;*/